body {
    font: 12px Graphik, Arial, Helvetica, sans-serif;
}

th {
    vertical-align: middle;
}

table button {
    all: unset;
    cursor: pointer;
    outline: none !important;
    font-weight: bold;
}

.table-hover tbody tr.child-row:hover {
    background-color: inherit !important;
}